*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}




.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner .slide-container{
    width: 400%;
    height: 100vh;
    display: inline;
}

.banner .slide:nth-child(1){
    background: url(./images/imagem\(1\).png) ;
    
}
.banner .slide:nth-child(2){
    background: url(./images/imagem\(2\).png) ;
  

}
.banner .slide:nth-child(3){
    background: url(./images/imagem\(3\).png) ;
   

}
.banner .slide:nth-child(4){
    background: url(./images/imagem\(4\).png) ;
  
}
.banner .slide{
    height: 100%;
    align-items: center;
    display: flex;
    
}
.banner .slide .selecionado{
    display: flex !important;
}


.banner .slide:first-child ~ .prev{
    opacity: 0.5;
}

.banner .slide:last-child ~ .next{
    opacity: 0.5;
}



.banner .slide .card{
    background-color: rgb(245, 243, 241);
    width: 300px;
    height: 300px;
    padding: 60px;
    border-radius: 10px;
    margin: 7rem;
}
.banner .slide .card h2{
    margin-bottom: 30px;
}
.banner .slide .card p{
    font-size: 20px;
    margin-bottom: 10px;
}
.banner .slide .card a{
    text-decoration: none;
    font-weight: 700;
    color: #c50000;
    font-size: 19px;
    margin-top: 10px;
    padding: 2px;
}
.banner .prev, .banner .next{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 420px;
}
.banner .prev{
    left: 20px;
}
.banner .next{
    right: 20px;
}
.seta{
    width: 100%;
    filter: invert(1);
    cursor: pointer;
}
#seta-esq{
transform: rotate(180deg);
}